<div class="alert">
    @if (message !== null) {
        <div class="alert alert-danger alert-dismissable fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
</div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="flex">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" required>
        </div>
        <button type="submit" class="btn btn-primary mx-auto" >Register</button>
    </div>
</form>
