.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50rem;
    width: 50rem;
    margin: 0 auto;
}

.alert {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin: 0 auto;
}